<section class="container">
 <!-- <header>
   <h5><</h5>
 </header> -->

    <ul class="collection with-header">
      <li class="collection-header">
        <h4 class="new badge center" data-badge-caption="Issues"> {{ issue.length }} </h4>
      </li>
      <div class="col" ng-repeat="issue in issueData | filter:searchIssue | orderBy:order:reverse">

        <li class="collection-item avatar">
            <img src="{{ userData.avatar_url }}" alt="" class="circle"><a><small>{{issue.number}}</small></a>
            <h4 class="title">{{ issue.title }}</h4>
            <a href="{{issue.user.html_url}}"><i class="small material-icons">perm_identity</i></a>
            <small>{{issue.user.login}}</small>

            <div class="secondary-content">
              <dt>Last Updated:</dt>
              <dd>{{ issue.updated_at | date : short : timezone }}</dd>
              <dt>Created:</dt>
              <dd>{{ issue.created_at | date: short: timezone }}</dd>
            </div>
        </li>
    </ul>


</section>
