<section class="col">
 <header>
   <h5><span class="new badge" data-badge-caption="Issues"> {{ issue.length }} </span></h5> 
 </header>
  <article class="row" ng-repeat="issue in issueData | filter:searchIssue | orderBy:order:reverse">

    <ul class="collection">
        <li class="collection-item avatar">
            <img src="{{ userData.avatar_url }}" alt="" class="circle">
            <span class="title">{{ issue.title }}</span>
            <span>{{}}</span>
        </li>
    </ul>
  </article>

</section>
